<launch>
  <!-- Launch the nodes -->
  
  <node pkg="first_project" type="gps_to_odom" name="gps_to_odom" output="screen">
    <param name="lat_r" type="double" value="45.477669461666665"/>
    <param name="lon_r" type="double" value="9.22674018"/>
    <param name="alt_r" type="double" value="169.039000"/>
  </node>
  
  <node pkg="first_project" type="odom_to_tf" name="odom_to_tf_encoders" output="screen">
    <param name="root_frame" type="string" value="world"/>
    <param name="child_frame" type="string" value="wheel_odom"/>
    <remap from="input_odom" to="odom"/>
  </node>

  <node pkg="first_project" type="odom_to_tf" name="odom_to_tf_gps" output="screen">
    <param name="root_frame" type="string" value="world"/>
    <param name="child_frame" type="string" value="gps_odom"/>
    <remap from="input_odom" to="gps_odom"/>
  </node>
  
  <node name="create_dynamic_reconfigure_config" pkg="dynamic_reconfigure" type="create_cfg" args="create_pkg_cfg first_project lidar_remap use_wheel_odom:Boolean" output="screen"/>
  
  <node pkg="first_project" type="lidar_remap" name="lidar_remap" output="screen"/>

  
  <!-- Start RVIZ -->
  <!-- -->

  <!-- Play the bag file -->
  <node name="rosbag_player" pkg="rosbag" type="play" args="$(find first_project)/robotics.bag"/>
</launch>
